[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/

*.csproj
*.unityproj
*.userprefs
*.sln
*.pidb
Assets/Resources/Atlases/PrologueWholeShotAtlas.png

Assets/Resources/Atlases/PrologueWholeShotAtlas.png

Assets/Resources/Atlases/PrologueWholeShotAtlas.txt

Assets/Resources/Atlases/PrologueWholeShotJson.txt

Assets/Resources/Atlases/PrologueWholeShotJson.txt

Assets/Scripts/MainGame.cs

Assets/Scripts/Prologue.cs

Assets/Scripts/Prologue.cs
